.diagram {
  position: relative;
  border: solid black 1px;
  padding: .5em;
}

.diagram svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: None;
  pointer-events: none;
}
.diagram svg * {
  pointer-events: auto;
}
.node {
  display: inline-block;
  border: solid black 1px;
  margin: .5em;
  padding: .5em;
  background-color: white;
}
.link {
  stroke: black;
  stroke-width: 1px;
}